@page {
    size: letter;
    margin: 20mm;
    
}
#main_div{
    text-align:center;
}
.pdf_table {
    display: table;
    margin: 0 auto;
    color: #45564b;    
    overflow: hidden;
    margin: 2rem;
    border-right: 1px solid #7c8f9b; 
    border-left: 1px solid #7c8f9b; 
    border-top: 1px solid #7c8f9b; 
    font-size: 0.5cm;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 0.5cm 5px #7c8f9b;
    -moz-box-shadow: 0px 0px 0.5cm 5px #7c8f9b;
    box-shadow: 0px 0px 0.5cm 5px #7c8f9b;
    
} 
#pdf_avatar{  
    display: inline-block;
    margin-bottom: 1cm;
    padding: 1cm;
    background-color: #dcf7f0;
    border-radius: 10mm;
}
td, th{
   	border-bottom: 2px solid #7c8f9b; 
   	padding: 0.3cm;
    width: 7cm;
    background-color: #f2fffd; 
    text-align: left;   
}
td:first-child, th:first-child {
    border-right: 2px solid #7c8f9b;  
    width: 5cm;
    background-color: #f9f3ed;    
}

